@using AppZim.TableSql
@using AppZim.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<tbl_Nation>
@{
    ViewBag.Title = "GMT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-30">
        <li class="breadcrumb-item active" aria-current="page">Danh sách GMT</li>
    </ol>
</nav>
<!-- End breadcrumb -->
<div class="d-xl-flex align-items-center justify-content-between">
    <div><a href="#div-add-room" class="btn btn-primary" data-toggle="modal"><i data-feather="plus"></i> Thêm</a></div>
    <div class="d-xl-block">
        @using (Html.BeginForm("GMT", "Option", FormMethod.Get, new { id = "form-search" }))
        {
            <div class="d-flex justify-content-xl-center mg-t-20 mg-xl-t-0 flex-wrap">
                <div class="search-form">
                    <input type="search" name="search" list="browsers" class="form-control" placeholder="Tìm kiếm..." value="@ViewBag.Search">
                    <button class="btn btn-search" type="submit"><i data-feather="search"></i></button>
                </div>
            </div>
        }
    </div>
</div>
<div class="mg-t-30">
    <div class="table-responsive">
        <table class="table table-striped table-vcenter">
            <thead class="thead-light">
                <tr>
                    <th>Quốc gia</th>
                    <th>Timezone</th>
                    <th class="text-center">Chênh lệch(số phút)</th>
                    <th class="text-center">Ẩn</th>
                    <th class="text-center">@ViewBag.Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nation</td>
                        <td class="text-center">@item.TimeZoneName</td>
                        <td class="text-center">@item.TimeZoneValue</td>
                        <td class="text-center">
                            @{
                                if (item.isHide.Value)
                                {
                                    <i data-feather="check-circle"></i>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <a href="#edit-roomcenter" data-toggle="modal" data-id="@item.ID" data-nation="@item.Nation" data-ishide="@item.isHide" data-timezone="@item.TimeZoneName" data-value="@item.TimeZoneValue" class="btn btn-primary edit-study">
                                <i data-feather="rotate-ccw"></i> Cập nhật
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Page navigation" class="mg-t-10">
    @Html.PagedListPager(Model, page => Url.Action("GMT", new
    {
        page,
        search = ViewBag.Search,
    }),
    new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination mg-b-0 justify-content-end" },
    })
</nav>

<div class="modal fade" id="div-add-room" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddGMT", "Option", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body pd-20 pd-sm-40">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div>
                        <h4>Tạo mới</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-nation">Quốc gia:</label>
                                    <input id="txt-nation" name="txt-nation" type="text" required class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-timezone">Timezone:</label>
                                    <input type="text" name="txt-timezone" id="txt-timezone" class="form-control" required placeholder="120" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-value">Chênh lệch so với GMT +0(Phút):</label>
                                    <input type="text" name="txt-value" id="txt-value" class="form-control" required placeholder="120" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Lưu lại</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="edit-roomcenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("EditGMT", "Option", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="hdfID" />
                <div class="modal-body pd-20 pd-sm-40">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div>
                        <h4>Cập nhật</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-edit-nation">Quốc gia:</label>
                                    <input id="txt-edit-nation" name="txt-edit-nation" type="text" required class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-edit-timezone">Timezone:</label>
                                    <input type="text" name="txt-edit-timezone" id="txt-edit-timezone" class="form-control" required placeholder="120" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-edit-value">Chênh lệch so với GMT +0(Phút):</label>
                                    <input type="text" name="txt-edit-value" id="txt-edit-value" class="form-control" required placeholder="120" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chk-hide" name="chk-hide">
                                        <label class="custom-control-label" for="chk-hide">Tạm ẩn</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Lưu lại</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section myScripts
{
    <script>
        $('input[name=search]').keyup(function (event) {
            if (event.keyCode === 13) {
                pagesearch();
            }
        });
        $('#btn-search').click(function () {
            pagesearch();
        })
        function pagesearch() {
            $('#form-search').submit();
        }
        $(document).on("click", ".edit-study", function () {
            $('input[name=hdfID]').val($(this).attr('data-id'));
            $('input[name=txt-edit-nation]').val($(this).attr('data-nation'));
            $('input[name=txt-edit-timezone]').val($(this).attr('data-timezone'));
            $('input[name=txt-edit-value]').val($(this).attr('data-value'));
            if ($(this).attr('data-ishide') == 'True') {
                $('#chk-hide').prop("checked", true);
            }
            else {
                $('#chk-hide').prop("checked", false);
            }
        });
    </script>
}