@using AppZim.ZIM;
@using AppZim.Areas.Admin.Controllers;
@{
    Layout = null;
    Zoom.Room r = ViewBag.Data;
    var projectname = BaseController.ProjectName;
}

<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>@projectname</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/react-select.css" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <style>

        .sdk-select {
            height: 34px;
            border-radius: 4px;
        }

        .websdktest button {
            float: right;
            margin-left: 5px;
        }

        #nav-tool {
            margin-bottom: 0px;
        }

        #show-test-tool {
            position: absolute;
            top: 100px;
            left: 0;
            display: block;
            z-index: 99999;
        }

        #display_name {
            width: 250px;
        }


        #websdk-iframe {
            width: 700px;
            height: 500px;
            border: 1px;
            border-color: red;
            border-style: dashed;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            margin: 0;
        }
    </style>
    <nav id="nav-tool" class="navbar navbar-inverse navbar-fixed-top" style="display:none">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@projectname</a>
            </div>
            <div id="navbar" class="websdktest">
                <form class="navbar-form navbar-right" id="meeting_form">
                    <div class="form-group">
                        <input type="text" name="display_name" id="display_name" value="@r.FullName" maxLength="100"
                               placeholder="Tên tham gia cuộc họp..." class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="meeting_number" id="meeting_number" value="@r.RoomID" maxLength="200"
                               style="width:150px" placeholder="Meeting Number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="meeting_pwd" id="meeting_pwd" value="@r.RoomPass" style="width:150px"
                               maxLength="32" placeholder="Meeting Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="meeting_email" id="meeting_email" value="" style="width:150px"
                               maxLength="32" placeholder="Email option" class="form-control hide">
                    </div>
                    <div class="form-group">
                        <select id="meeting_role" class="sdk-select" hidden>
                            @{
                                if (r.Role == 0)
                                {
                                    <option value=0 selected>Attendee</option>
                                }
                                else if (r.Role == 1)
                                {
                                    <option value=1 selected>Host</option>
                                }
                            }
                            <option value=5>Assistant</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="meeting_china" class="sdk-select hide">
                            <option value=0>Global</option>
                            <option value=1>China</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="meeting_lang" class="sdk-select hidden">
                            <option value="en-US">English</option>
                            <option value="de-DE">German Deutsch</option>
                            <option value="es-ES">Spanish Español</option>
                            <option value="fr-FR">French Français</option>
                            <option value="jp-JP">Japanese 日本語</option>
                            <option value="pt-PT">Portuguese Portuguese</option>
                            <option value="ru-RU">Russian Русский</option>
                            <option value="zh-CN">Chinese 简体中文</option>
                            <option value="zh-TW">Chinese 繁体中文</option>
                            <option value="ko-KO">Korean 한국어</option>
                            <option value="vi-VN">Vietnamese Tiếng Việt</option>
                            <option value="it-IT">Italian italiano</option>
                        </select>
                    </div>
                    <input type="hidden" value="" id="copy_link_value" />
                    <button type="submit" class="btn btn-primary" id="join_meeting">Join</button>
                    <button type="submit" class="btn btn-primary" id="clear_all">Clear</button>
                    <button type="button" link="" onclick="window.copyJoinLink('#copy_join_link')"
                            class="btn btn-primary" id="copy_join_link">
                        Copy Direct join link
                    </button>

                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.9.1/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-1.9.1.min.js"></script>
    <script src="/Zoomjs/js/tool.js"></script>
    <script src="/Zoomjs/js/vconsole.min.js"></script>
    @*<script src="/Zoomjs/js/index.js?rndstr=<%=getRandomStr()%>"></script>*@

    <script>
        window.addEventListener('DOMContentLoaded', function (event) {
            websdkready();
        });

        function websdkready() {
            var testTool = window.testTool;
            if (testTool.isMobileDevice()) {
                vConsole = new VConsole();
            }
            ZoomMtg.preLoadWasm(); // pre download wasm file to save time.

            //var API_KEY = "BQMrBCtJRsOgShv81OQK4w";
            //var API_SECRET = "7ltYSsOvahjPOP8DobbEEzlKC60tJ4juPAxj";
            var API_KEY = "@r.Key";
            var API_SECRET = "@r.Secrect";


            if (testTool.getCookie("meeting_lang"))
                document.getElementById("meeting_lang").value = testTool.getCookie(
                    "meeting_lang"
                );

            document
                .getElementById("meeting_lang")
                .addEventListener("change", function (e) {
                    testTool.setCookie(
                        "meeting_lang",
                        document.getElementById("meeting_lang").value
                    );
                    testTool.setCookie(
                        "_zm_lang",
                        document.getElementById("meeting_lang").value
                    );
                });
            // copy zoom invite link to mn, autofill mn and pwd.
            document
                .getElementById("meeting_number")
                .addEventListener("input", function (e) {
                    var tmpMn = e.target.value.replace(/([^0-9])+/i, "");
                    if (tmpMn.match(/([0-9]{9,11})/)) {
                        tmpMn = tmpMn.match(/([0-9]{9,11})/)[1];
                    }
                    var tmpPwd = e.target.value.match(/pwd=([\d,\w]+)/);
                    if (tmpPwd) {
                        document.getElementById("meeting_pwd").value = tmpPwd[1];
                        testTool.setCookie("meeting_pwd", tmpPwd[1]);
                    }
                    document.getElementById("meeting_number").value = tmpMn;
                    testTool.setCookie(
                        "meeting_number",
                        document.getElementById("meeting_number").value
                    );
                });



            // click join meeting button
            document
                .getElementById("join_meeting")
                .addEventListener("click", function (e) {
                    e.preventDefault();
                    var meetingConfig = testTool.getMeetingConfig();
                    if (!meetingConfig.mn || !meetingConfig.name) {
                        //alert("Meeting number or username is empty");
                        window.location.href = "/Admin/Course/CourseList";
                        console.log("Meeting number or username is empty");
                        return false;
                    }


                    //testTool.setCookie("meeting_number", meetingConfig.mn);
                    //testTool.setCookie("meeting_pwd", meetingConfig.pwd);

                    var signature = ZoomMtg.generateSignature({
                        meetingNumber: meetingConfig.mn,
                        apiKey: API_KEY,
                        apiSecret: API_SECRET,
                        role: meetingConfig.role,
                        success: function (res) {
                            console.log(res.result);
                            //ZoomMtg.record({
                            //    record: true
                            //});
                            meetingConfig.signature = res.result;
                            meetingConfig.apiKey = API_KEY;
                            let joinUrl = "/admin/zoommeeting/loadmeeting?CoursesScheduleID=@r.ID&" + testTool.serialize(meetingConfig);
                            //console.log(joinUrl);
                            //window.open(joinUrl, "_blank");
                            //window.location.href = "/home/meeting?data=" + testTool.serialize(meetingConfig);
                            window.location.href = joinUrl;
                        },
                    });
                });
        }

    </script>
    <script>
        $(window).on('load', function () {
            $('#join_meeting').trigger('click');
        });
    </script>
</body>
