@using AppZim.TableSql
@using AppZim.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<tbl_NotificationCourse>

@{
    ViewBag.Title = "Notification";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    var totalLesson = CoursesScheduleTable.getbycourseid(ViewBag.Course.ID).Count;//tổng buổi học
    var learnedLesson = CoursesScheduleTable.GetByCourseAndStatus(ViewBag.Course.ID, 1).Count;// số buổi đã học
    int remainLesson = totalLesson - learnedLesson;
}
@section myStyles{
}
<div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <div class="navigator">
            <div class="card-body pd-0">
                <label class="tx-uppercase tx-sans tx-15 tx-medium tx-spacing-1 mg-b-15 btn-name">@ViewBag.Course.CourseName <button class="btn btn-remain" data-toggle="tooltip" data-placement="left" title="Số buổi đã học">@learnedLesson</button><button class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Số buổi học còn lại" style="margin-left:5px;">@remainLesson</button><button class="btn btn-total" data-toggle="tooltip" data-placement="left" title="Tổng số buổi học">@totalLesson</button></label>
                <ul class="list-menu">
                    <li class="menu-item">
                        <a href="@Url.Action("CourseDetail", "StudentCourse", new { area = "", ViewBag.Course.ID })" class="menu-link"><i data-feather="calendar"></i>Lịch học</a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("CourseDocument", "StudentCourse", new { area = "", id = ViewBag.Course.ID })" class="menu-link"><i data-feather="book"></i>Tài liệu</a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("NoteCourse", "StudentCourse", new { area = "", id = ViewBag.Course.ID })" class="menu-link"><i data-feather="flag"></i>TimeLine</a>
                    </li>
                    <li class="menu-item active">
                        <a href="@Url.Action("CourseNotification","StudentCourse",  new { area = "", id = ViewBag.Course.ID })" class="menu-link"><i data-feather="bell"></i>Thông báo</a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("VideoCourse","StudentCourse",  new { area = "", id = ViewBag.Course.ID })" class="menu-link"><i data-feather="video"></i>Video buổi học</a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("TeacherCourse","StudentCourse",  new { area = "", id = ViewBag.Course.ID })" class="menu-link"><i data-feather="user"></i>Giáo viên</a>
                    </li>
                </ul>
            </div>
        </div>
        @{Html.RenderAction("PartialNextLession", "StudentCourse", new { id = ViewBag.Course.ID });}

    </div>
    <div class="col-12 colsm-12 col-md-8 col-lg-9">
        <div class="notification__wrap">
            <div class="tab-content bd-gray-300 bd-t-0 pd-y-20" id="tab-notification">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Người tạo</th>
                                    <th>Thời gian</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        var create = AccountTable.getbyusername(item.CreatedBy);
                                        <tr>
                                            <td>@item.NotificationTitle</td>
                                            <td>@Html.Raw(item.NotificationContent)</td>
                                            <td class="no-wrap">
                                                @if (create != null)
                                                {
                                                    <span>@create.FullName</span>
                                                }
                                            </td>
                                            <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation" class="mg-t-10">
                        @Html.PagedListPager(Model, page => Url.Action("CourseNotification", "StudentCourse", new { page }),
                       new PagedListRenderOptions
                            {
                           MaximumPageNumbersToDisplay = 5,
                           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                           DisplayLinkToLastPage = PagedListDisplayMode.Never,
                           UlElementClasses = new[] { "pagination mg-b-0 justify-content-end" },
                           LiElementClasses = new[] { "page-item" },
                       })
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@section myScripts{
}

