@using AppZim.TableSql;
@using AppZim.Models;
@{
    ViewBag.Title = "SetDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    tbl_SetPackage pk = Model;

}
<style>
    .set__box .option-icon {
        color: #c7c7c7;
        opacity: 0.5;
    }

    .set__box .option-name {
        color: #c7c7c7;
    }
</style>
<div class="exam__wrap">
    <!-- Breadcrumb -->
    <div class="row mg-b-30">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                    <li class="breadcrumb-item"><a href="/Admin/SetPackageCustom/ListSetPackages">Danh sách gói bài</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End breadcrumb -->
    <div class="ready-for-test">
        <h3 class="mg-b-30">Cập nhật gói bài #@pk.PackageName</h3>
        <div class="card">
            @using (Html.BeginForm("UpdateSets", "SetPackageCustom", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                var type = 1;
                if (pk.Price > 0)
                {
                    type = 2;
                }
                @Html.AntiForgeryToken()
                <input type="hidden" name="hdfSetID" value="@pk.ID" />
                <input type="hidden" name="hdfDescription" id="hdfDescription" value="@pk.Note" />
                <input type="hidden" name="setType" value="@type" />
                <div class="card-body pd-30">
                    <div class="box-wrap ">
                        <h5 class="mg-b-15 tx-medium"><i class="fas fa-info-circle mg-r-5"></i> Chi tiết:</h5>
                        <div class="box mg-b-30">
                            <div class="form-group row">
                                <div class="col-sm-4 col-md-2 col-form-label">
                                    <strong class="lb">Tên gói:</strong>
                                </div>
                                <div class="col-sm-8 col-md-10">
                                    <input type="text" name="txt-package-name" class="form-control"
                                           value="@pk.PackageName" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-md-2 ">
                                    <strong class="lb">Loại:</strong>
                                </div>
                                <div class="col-sm-8 col-md-10 ">
                                    <div class="d-flex align-items-center">
                                        <div class="custom-control custom-radio mg-r-30">
                                            @{
                                                if (pk.Price == 0)
                                                {
                                                    <input type="radio" id="typeFree" name="typeSet" checked
                                                           class="custom-control-input">
                                                }
                                                else
                                                {
                                                    <input type="radio" id="typeFree" name="typeSet"
                                                           class="custom-control-input">
                                                }
                                            }

                                            <label class="custom-control-label" for="typeFree">Miễn phí</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            @if (pk.Price > 0)
                                            {
                                                <input type="radio" id="typePremium" name="typeSet" checked
                                                       class="custom-control-input">
                                            }
                                            else
                                            {
                                                <input type="radio" id="typePremium" name="typeSet"
                                                       class="custom-control-input">
                                            }
                                            <label class="custom-control-label" for="typePremium">
                                                <i class="fas fa-crown tx-warning pd-r-5"></i> Cao cấp
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (pk.Price > 0)
                            {
                                <div class="form-group row blockprice">
                                    <div class="col-sm-4 col-md-2 col-form-label">
                                        <strong class="lb">Số tiền:</strong>
                                    </div>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" name="txt-price" class="form-control tx-danger tx-medium" value="@string.Format("{0:N0}",pk.Price)" data-type="currency" placeholder="0.0" required>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row blockprice" style="display:none">
                                    <div class="col-sm-4 col-md-2 col-form-label">
                                        <strong class="lb">Số tiền:</strong>
                                    </div>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" name="txt-price" class="form-control tx-danger tx-medium" value="0" data-type="currency" placeholder="0.0" required>
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <div class="col-sm-4 col-md-2 col-form-label">
                                    <strong class="lb">Ảnh thu nhỏ:</strong>
                                </div>
                                <div class="col-sm-8 col-md-10">
                                    <label class="thumbnail-upload ">
                                        <input type="file" name="setThumbnail" class="form-control d-none file-upload" accept="image/*">
                                        <div class="thumbnail-preview pos-relative rounded-5 overflow-hidden "
                                             data-toggle="tooltip" data-placement="right"
                                             title="Click to change image">
                                            <img src="@pk.PackageIMGThumbnail" alt="image" class="wd-150 ht-150" onerror="this.onerror = null; this.src = '/app-assets/zimv2/images/system-update.jpg';">
                                            <i class="fas fa-upload pos-absolute"></i>
                                        </div>
                                    </label>

                                </div>
                            </div>
                            <div class="form-row row mg-b-0">
                                <div class="col-sm-4 col-md-2 ">
                                    <strong class="lb">Mô tả:</strong>
                                </div>
                                <div class="col-sm-8 col-md-10 ">
                                    <textarea name="txt-content" class="raw-txt" id="test-description">@pk.Note</textarea>
                                </div>
                            </div>
                        </div>
                        <h5 class="mg-b-15 tx-medium"><i class="fas fa-cubes mg-r-5 mg-t-30"></i> Tùy chọn gói:</h5>
                        <div class="box pd-t-15">
                            <div class="row mg-b-5 ">
                                @{
                                    string l = "";
                                    if (pk.Listening.Value)
                                    {
                                        l = "style = \"color: #3462C8;\"";
                                    }
                                    string s = "";
                                    if (pk.Speaking.Value)
                                    {
                                        s = "style = \"color: #3462C8;\"";
                                    }
                                    string r = "";
                                    if (pk.Reading.Value)
                                    {
                                        r = "style = \"color: #3462C8;\"";
                                    }
                                    string w = "";
                                    if (pk.Writing.Value)
                                    {
                                        w = "style = \"color: #3462C8;\"";
                                    }
                                }
                                <div class="col-md-6 col-lg-3 mg-b-20">
                                    <div class="box__select set__box">
                                        <div class="set__pack">
                                            <span class="option-icon" @Html.Raw(s)>
                                                <i class="fas fa-file-alt"></i>
                                            </span>
                                            <div class="option-info mg-l-15 tx-center">
                                                <span class="option-name mg-l-0-f" @Html.Raw(s)>Từ vựng - Hán tự</span>
                                            </div>
                                        </div>
                                        @if (pk.Speaking.Value)
                                        {
                                            <a href="@Url.Action("Questions","SetPackageCustom", new { area = "Admin", id = pk.ID, type = 4 })" class="set-edit"><i data-toggle="tooltip" data-placement="top" title="Tạo câu hỏi" data-feather="edit"></i></a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 mg-b-20">
                                    <div class="box__select set__box">
                                        <div class="set__pack">
                                            <span class="option-icon" @Html.Raw(w)>
                                                <i class="fas fa-file-invoice"></i>
                                            </span>
                                            <div class="option-info mg-l-15 tx-center">
                                                <span class="option-name mg-l-0-f" @Html.Raw(w)>Ngữ pháp</span>
                                            </div>
                                        </div>
                                        @if (pk.Writing.Value)
                                        {
                                            <a href="@Url.Action("Questions","SetPackageCustom", new { area = "Admin", id = pk.ID, type = 3 })" class="set-edit"><i data-toggle="tooltip" data-placement="top" title="Tạo câu hỏi" data-feather="edit"></i></a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 mg-b-20">
                                    <div class="box__select set__box">
                                        <div class="set__pack">
                                            <span class="option-icon" @Html.Raw(r)>
                                                <i class="fas fa-book-open"></i>
                                            </span>
                                            <div class="option-info mg-l-15 tx-center">
                                                <span class="option-name mg-l-0-f" @Html.Raw(r)>Đọc hiểu</span>
                                            </div>
                                        </div>
                                        @if (pk.Reading.Value)
                                        {
                                            <a href="@Url.Action("Questions","SetPackageCustom", new { area = "Admin", id = pk.ID, type = 2 })" class="set-edit"><i data-toggle="tooltip" data-placement="top" title="Tạo câu hỏi" data-feather="edit"></i></a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 mg-b-20">
                                    <div class="box__select set__box">
                                        <div class="set__pack">
                                            <span class="option-icon" @Html.Raw(l)>
                                                <i class="fas fa-headphones-alt"></i>
                                            </span>
                                            <div class="option-info mg-l-15 tx-center">
                                                <span class="option-name mg-l-0-f" @Html.Raw(l)>Nghe hiểu</span>
                                            </div>
                                        </div>
                                        @if (pk.Listening.Value)
                                        {
                                            <a href="@Url.Action("Questions","SetPackageCustom", new { area = "Admin", id = pk.ID, type = 1 })" class="set-edit"><i data-toggle="tooltip" data-placement="top" title="Tạo câu hỏi" data-feather="edit"></i></a>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                        <p class="tx-center mg-b-0">
                            <a class="btn btn-primary next-step save-set" style="color: #fff;">Xác nhận</a>
                            <button type="submit" class="btn btn-primary next-step btn-save-set" hidden>Xác nhận</button>
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>

</div>
@section myScripts{
    <script src="~/app-assets/zimv2/lib/tinymce/tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            const readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        if (e.target.result !== null)
                            $('.thumbnail-preview img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
        $("#typePremium").click(() => {
            $('input[name=setType]').val(2);
            $('input[name=txt-price]').val("")
            $('.blockprice').show();
        });
        $("#typeFree").click(() => {
            $('input[name=setType]').val(1);
            $('input[name=txt-price]').val(0)
            $('.blockprice').hide();
        });


        function uploadImage() {
            var editor = tinymce.activeEditor;
            // create input element, call modal dialog w
            var fileInput = document.createElement('input');
            fileInput.setAttribute('type', 'file');
            fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon');
            // if file is submitted run our key code
            fileInput.addEventListener('change', () => {

                if (fileInput.files != null && fileInput.files[0] != null) {
                    // create instance of FileReader()
                    var formData = new FormData();
                    formData.append("FileUpload", fileInput.files[0]);
                    $.ajax({
                        async: false,
                        type: 'POST',
                        url: '/Admin/SetPackage/UploadFilePost',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (msg) {
                            console.log(msg.l);
                            editor.insertContent('<img src="' + msg.l + '" />');
                        },
                        error: function (error) {
                            console.log('error upload file audio');
                        }
                    });
                }
            });
            fileInput.click()
        }

        //nút thêm phiên âm tiếng nhật
        const dialogConfig = {
            title: 'Furigana',
            body: {
                type: 'panel',
                items: [
                    {
                        type: 'input',
                        name: 'dataInputKey'
                    }
                ]
            },
            buttons: [
                {
                    type: 'cancel',
                    name: 'closeButton',
                    text: 'Cancel'
                },
                {
                    type: 'submit',
                    name: 'submitButton',
                    text: 'Save',
                    primary: true
                }
            ],
            initialData: {
                dataInputKey: '',
            },
            onSubmit: function (api) {
                var data = api.getData();
                var textCt = data.dataInputKey;
                const selectedContent = tinymce.activeEditor.selection.getContent();
                tinymce.activeEditor.execCommand('mceInsertContent', false, ' <ruby> ' + selectedContent + ' <rt style="font-size:50%">' + textCt + '</rt></ruby> <br> ');
                api.close();
            }
        };

        tinymce.init({
            selector: '#test-description',
            oninit: "setPlainText",
            plugins: 'paste autoresize stickytoolbar print autolink autosave save directionality fullscreen image link media charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern help charmap emoticons code',
            paste_as_text: true,
            inline: false,
            menubar: false,
            entity_encoding: "raw", //config utf8
            toolbar: 'formatselect | fontsizeselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | table UploadImage link media | removeformat | code | customInsertButton',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
            ],
            height: 250,
            images_dataimg_filter: function (img) {
                return img.hasAttribute('internal-blob');
            },
            setup: (editor) => {
                editor.ui.registry.addButton('UploadImage', {
                    text: 'Image',
                    icon: 'image',
                    onAction: uploadImage
                });
                editor.ui.registry.addButton('customInsertButton', {
                    text: 'Furigana', //phiên âm
                    onAction: function (_) {
                        // editor.insertContent('&nbsp;<strong>It\'s my button!</strong>&nbsp;');
                        editor.windowManager.open(dialogConfig)
                    }
                });
            },
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt"
        });
        $('.save-set').click(() => {
            var counttext = tinymce.editors[0].contentDocument.activeElement.innerText;
            var content = tinymce.editors[0].contentDocument.activeElement.innerHTML;
            $("#hdfDescription").val(content);
            if (counttext.length == 1) {
                toast.create({
                    title: 'Thông báo!',
                    text: 'Vui lòng nhập mô tả!',
                    icon: 'error_outline',
                    classBackground: 'noti-error',
                    timeout: 3000
                });
                return;
            }
            $('.btn-save-set').click();

        });
    </script>
}

