@using AppZim.TableSql
@using AppZim.Models
@using MB.Extensions
@using System.Text;
@using System.Collections.Generic;
@model List<GetListAppointmentTestRefuse_Result>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    var aclog = AccountTable.getbyID(Session["UID"].ToString().ToInt(0));

    List<tbl_SourceOfCustomer> sc = SourceOfCustomerTable.getall();
    List<tbl_Job> jobs = JobTable.getall();
    List<tbl_City> citys = LocationTable.getall();
    List<tbl_Account> lsale = AccountTable.getbyrole(6).Where(n => n.Status == 2).OrderBy(n => n.FullName).ToList();
    List<tbl_AcademicPurposes> mucdich = AcademicPurposesTable.getall();
    string[] strText = new string[4] { "Trang đầu", "Trang cuối", "Trang sau", "Trang trước" };
    StringBuilder nguon = new StringBuilder();
    var lLanguage = Language.GetAll();
    foreach (var item in sc)
    {
        nguon.Append("<option value=\"" + item.ID + "\">" + item.SourceOfCustomer + "</option>");
    }
    StringBuilder viec = new StringBuilder();
    foreach (var item in jobs)
    {
        viec.Append("<option value=\"" + item.ID + "\">" + item.JobName + "</option>");
    }
    StringBuilder tinh = new StringBuilder();
    foreach (var item in citys)
    {
        tinh.Append("<option value=\"" + item.ID + "\">" + item.CityName + "</option>");
    }
    StringBuilder tvv = new StringBuilder();
    foreach (var item in lsale)
    {
        tvv.Append("<option value=\"" + item.ID + "\">" + item.FullName + "</option>");
    }
    StringBuilder mdich = new StringBuilder();
    foreach (var item in mucdich)
    {
        mdich.Append("<option value=\"" + item.ID + "\">" + item.AcademicPurposesName + "</option>");
    }
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-30">
        <li class="breadcrumb-item active" aria-current="page">Danh sách học viên không học</li>
    </ol>
</nav>
@using (Html.BeginForm("ListAppointmentTestRefuse", "Cashier", FormMethod.Get, new { id = "form-search" }))
{
    <div class="d-xl-flex align-items-center justify-content-between ">
        <div class="d-xl-block">
            <div class="d-flex justify-content-xl-center mg-t-20 mg-xl-t-0 flex-wrap">
                <div class="search-form mg-l-5 mg-r-5">
                    <input type="text" name="search" class="form-control" placeholder="Tìm kiếm..." value="@ViewBag.Search">
                    <button class="btn" type="button" id="btn-search"><i data-feather="search"></i></button>
                </div>
                <a href="#filterCollapse" class="btn btn-primary mg-l-5 mg-r-5 mg-sm-r-0 transparent" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="filterCollapse">
                    <i data-feather="filter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="collapse mg-t-10" id="filterCollapse">
        <div class="card">
            <div class="card-body">
                <div class="row flex-wrap">
                    <div class="form-group col-md-4 col-6 col-xl-3">
                        <label class="form-control-label">Kênh lấy data:</label>
                        <select class="form-control select2" name="source">
                            <option value="-1">-- Tất cả --</option>
                            @{
                                foreach (var c in sc)
                                {
                                    <option value="@c.ID" @(c.ID == ViewBag.SourceID ? "selected" : "")>@c.SourceOfCustomer</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-6 col-xl-3">
                        <label class="form-control-label">Từ ngày:</label>
                        <input type="text" name="from" class="form-control datetimepicker from-date date-only" value="@ViewBag.From" placeholder="DD / MM / YYYY" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-4 col-6 col-xl-3">
                        <label class="form-control-label">Đến ngày:</label>
                        <input type="text" name="to" class="form-control datetimepicker to-date date-only" value="@ViewBag.To" placeholder="DD / MM / YYYY" autocomplete="off" />
                    </div>

                    <div class="form-group col-md-4 col-6 col-xl-3">
                        <label>Thao tác:</label>
                        <div>
                            <button type="submit" class="btn btn-primary"><i data-feather="search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="mg-t-30">
    <div class="table-responsive">
        <table class="table table-striped table-vcenter">
            <thead class="thead-light">
                <tr>
                    <th>Họ và tên</th>
                    <th>Kênh lấy data</th>
                    <th>Trung tâm</th>
                    <th>Người hẹn</th>
                    <th>Ngày hẹn</th>
                    <th>Giờ hẹn</th>
                    <th>Lý do không học</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.SourceName</td>
                            <td>@item.SchoolName</td>
                            <td>@item.CreateTestName</td>
                            <td>@item.DateTest.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.TimeTest</td>
                            <td>@item.ReasonName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="mg-t-10">
        <div class="pagination-container">
            @PhanTrang.PhanTrangCustom(10, ViewBag.Page, ViewBag.PageCount, Request.RawUrl, strText)
        </div>
    </nav>
</div>
@section myScripts{
    <script>
        $(document).ready(function () {
            $('.table').on('click', '.collapse-toggle', function () {
                $(this).children().toggleClass('fa-plus-square').toggleClass('fa-minus-square');
                $(this).toggleClass('active').closest('tr.tr-row').next().find('.collapse-content')
                    .slideToggle(
                        200);
            })
        });
        $('input[name=search]').keyup(function (event) {
            if (event.keyCode === 13) {
                pagesearch();
            }
        });
        $('#btn-search').click(function () {
            pagesearch();
        })
        function pagesearch() {
            $('#form-search').submit();
        }

        $(document).ready(function () {
            $('.btn-delete').on('click', function () {
                let id = $(this).attr('data-id');
                let fullname = $(this).attr('data-name');
                let $this = $(this);
                if (confirm("Bạn có chắc chắn muốn xóa học viên " + fullname + "?")) {
                    $.ajax({
                        method: 'POST',
                        url: '/Staff/DeleteUser?id=' + id,
                        success: function (msg) {
                            if (msg.rs) {
                                $this.closest('tr').remove();
                                toast.create({
                                    title: 'Thông báo!',
                                    text: 'Thành công',
                                    icon: 'check',
                                    classBackground: 'noti-success',
                                    timeout: 3000
                                })
                            }
                            else {
                                toast.create({
                                    title: 'Thông báo!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                })
                            }
                        }
                    })

                }
                else {
                    return false;
                }
            });
        })

        $('.update-customer').click(function () {
            var id = $(this).attr('data-id');

            var sourceid = $('#ddl-source-' + id + '').val();
            var citydis = $('#ddl-city-' + id + '').val();

            //var district = $('#ddl-district-' + id + '').val();
            var district = 0;
            //var ward = $('#ddl-ward-' + id + '').val();
            var ward = 0;
            //var street = $('#ddl-street-' + id + '').val();
            var street = 0;
            //var home = $('#txt-home-number-' + id + '').val();
            var home = "";
            var language = $('#dll-language-' + id + '').val();

            var fullname = $('#txt-fullname-' + id + '').val();
            var phone = $('#txt-phone-' + id + '').val();
            var email = $('#txt-email-' + id + '').val();
            var address = $('#txt-address-' + id + '').val();
            var cmnd = $('#txt-identity-' + id + '').val();
            var cmndcity = $('#ddl-city-identity-' + id + '').val();
            var cmnddate = $('#txt-date-identity-' + id + '').val();
            var birth = $('#txt-birthday-' + id + '').val();
            var jobid = $('#ddl-job-' + id + '').val();
            var workplace = $('#txt-work-place-' + id + '').val();
            var mucdicid = $('#ddl-muc-dich-' + id + '').val();
            var note = $('#txt-home-' + id + '').val();
            var typeedu = $('#ddl-academic-' + id + '').val();
            var scorein = $('#txt-in-scoure-' + id + '').val();
            var scoreout = $('#txt-out-scoure-' + id + '').val();
            var dateexam = $('#txt-exam-' + id + '').val();
            var status = $('#ddl-status-' + id + '').val();
            var supportid = $('#ddl-support-' + id + '').val();
            var pass = $('#txt-password-' + id + '').val();

            $.ajax({
                type: "POST",
                url: "/Admin/Customer/UpdateCusAjax",
                data: '{id: ' + id + ', sourceid:' + sourceid + ', citydis:' + citydis + ', fullname:"' + fullname + '", phone:"' + phone + '", email:"' + email + '", address:"' + address + '", cmnd:"' + cmnd + '", cmndcity:' + cmndcity + ', cmnddate:"' + cmnddate + '", birth:"' + birth + '", jobid:' + jobid + ', workplace:"' + workplace + '", mucdicid:' + mucdicid + ', note:"' + note + '", typeedu:"' + typeedu + '", scorein:"' + scorein + '", scoreout:"' + scoreout + '", dateexam:"' + dateexam + '", status:' + status + ', supportid:' + supportid + ', pass:"' + pass + '", district:' + district + ', ward:' + ward + ', street:' + street + ', home:"' + home + '", language:' + language + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    console.log(msg.rs);
                    if (msg.rs) {
                        toast.create({
                            title: 'Thông báo!',
                            text: 'Cập nhật thành công',
                            icon: 'notifications_active',
                            classBackground: 'noti-success',
                            timeout: 2500
                        })
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrow) {
                    toast.create({
                        title: 'Thông báo!',
                        text: 'Cập nhật đầy đủ thông tin học viên',
                        icon: 'notifications_active',
                        classBackground: 'noti-error',
                        timeout: 2500
                    })
                }
            });
        })

        function loaddistrict(e) {
            var id = $(e).attr('data-id');
            $.ajax({
                type: "POST",
                url: "/Admin/Customer/GetDistrict",
                data: '{cityid: ' + $(e).val() + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#ddl-district-' + id + '').empty();
                    $('#ddl-district-' + id + '').append(msg.d).trigger('change');
                    $('#ddl-district-' + id + '').attr('data-id', id);
                    loadwardstreet($('#ddl-district-' + id + ''));
                },
                error: function (xmlhttprequest, textstatus, errorthrow) {
                    console.log("error load-district");
                }
            });
        }
        function loadwardstreet(e) {
            var id = $(e).attr('data-id');
            $.ajax({
                type: "POST",
                url: "/Admin/Customer/GetWardStreet",
                data: '{districtid: ' + $(e).val() + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#ddl-ward-' + id + '').empty();
                    $('#ddl-street-' + id + '').empty();

                    $('#ddl-ward-' + id + '').append(msg.w).trigger('change');
                    $('#ddl-street-' + id + '').append(msg.s).trigger('change');
                    //$('#ddl-district-' + id + '').trigger("change");
                },
                error: function (xmlhttprequest, textstatus, errorthrow) {
                    console.log("error load-district");
                }
            });
        }
        function Submit() {
            $('#f-import').submit();
        }
    </script>
}