@using AppZim.ZIM;
@using AppZim.Models;
@using AppZim.TableSql;
@using System.Text;
@model List<ASW_Staff_Salary_Result>
@{
    ViewBag.Title = "StaffSalary";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    string[] strText = new string[4] { "Trang đầu", "Trang cuối", "Trang sau", "Trang trước" };
    var employees = StaffSalaryTable.GetNotConfigSalary();
    var positions = SalarySettingTable.GetNotConfigSalary();
    StringBuilder positionString = new StringBuilder();
    foreach (var item in positions)
    {
        positionString.Append("<option value=\"" + item.ID + "\">" + item.PositionName + "</option>");
    }
}
<style>
    img {
        width: unset;
    }
</style>
<div class="d-xl-flex align-items-center justify-content-between ">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                    <li class="breadcrumb-item active" aria-current="page">Cấu hình lương cơ bản</li>
                </ol>
            </nav>
        </div>
    </div>
    @using (Html.BeginForm("StaffSalary", "SalaryStaff", FormMethod.Get, new { id = "form-search" }))
    {
        <div class="d-xl-block">
            <div class="d-flex justify-content-xl-center mg-t-20 mg-xl-t-0 flex-wrap">
                <div class="search-form mg-l-5 mg-r-5">
                    <input type="text" name="search" class="form-control" placeholder="Tìm kiếm..." value="@ViewBag.Search">
                    <button class="btn" type="submit" id="btn-search"><i data-feather="search"></i></button>
                </div>
                <div class="sort-by mg-l-5 mg-r-5">
                    <select name="sort" class="custom-select" onchange="pagesearch()">
                        <option value="0">-- Sắp xếp --</option>
                        @{
                            if (ViewBag.Sort == 1)
                            {
                                <option value="1" selected>Họ tên  a > z</option>
                            }
                            else
                            {
                                <option value="1">Họ tên  a > z</option>
                            }
                            if (ViewBag.Sort == 2)
                            {
                                <option value="2" selected>Họ tên z > a</option>
                            }
                            else
                            {
                                <option value="2">Họ tên z > a</option>
                            }
                            if (ViewBag.Sort == 3)
                            {
                                <option value="3" selected>Lương ↑</option>
                            }
                            else
                            {
                                <option value="3">Lương ↑</option>
                            }
                            if (ViewBag.Sort == 4)
                            {
                                <option value="4" selected>Lương ↓</option>
                            }
                            else
                            {
                                <option value="4">Lương ↓</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    }
</div>

<!-- End breadcrumb -->
<div class="ready-for-test mg-t-30">
    <div class="card mg-b-30">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">Danh sách cấu hình</h4>
            </div>
            <div>
                <a href="#div-add-salary" data-toggle="modal" id="btn-group-new" class="btn btn-primary btn-icon add-new-salary" data-target="#div-add-salary" onclick="Create()"><i data-feather="plus" class="left"></i> Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-group-question table-vcenter" id="datatable-topic">
                    <thead class="thead-light">
                        <tr>
                            <th>Cấp bậc</th>
                            <th>Lương cơ bản</th>
                            <th>Ngày tạo</th>
                            <th>Ngày sửa</th>
                            <th class="wd-50">@ViewBag.Total</th>
                        </tr>
                    </thead>
                    <tbody id="tb-list-salary">
                        @foreach (var item in Model)
                        {
                            <tr class="remove-row-@item.ID">
                                <td class="truncate">
                                    <a href="/Admin/SalaryStaff/StaffOfPositionList?positionId=@item.PositionID" style="color:dodgerblue;" class="btn" data-placement="left" data-toggle="tooltip" title="Các nhân viên theo cấp bậc">
                                        @item.PositionName
                                    </a>
                                </td>
                                <td>@String.Format("{0:0,0}", item.Salary)</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.ModifiedDate</td>
                                <td>
                                    <div class="dropdown dropdown-icon">
                                        <a href="javascript:;" class="material-icons" id="drop-down-1"
                                           data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">more_vert</a>
                                        <div class="dropdown-menu" aria-labelledby="drop-down-1">
                                            <a class="dropdown-item btn-icon edit-salary" href="javascript:;" data-id="@item.ID" data-uid="@item.UID" data-salary="@String.Format("{0:0,0}", item.Salary)" data-position="@item.PositionID" data-position-name="@item.PositionName"><i data-feather="edit"></i> Chỉnh sửa</a>
                                            <a class="dropdown-item delete-salary" href="javascript:;" data-id="@item.ID" data-name="@item.PositionName" data-uid="@item.UID"><i data-feather="delete"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination mg-b-0 justify-content-end mg-t-10">
                    <div class="pagination-container">
                        @PhanTrang.PhanTrangCustom(10, ViewBag.Page, ViewBag.PageCount, Request.RawUrl, strText)
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal" id="div-add-salary" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddStaffSalary", "SalaryStaff", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="hdfID" value="0" />
                <div class="modal-body pd-20 pd-sm-40">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <div>
                        <h4>Cấu hình lương</h4>
                        <div class="form-group" id="div-position">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="required" for="txt-position">Cấp bậc:</label>
                                    <select name="txt-position" id="txt-position" required class="form-control select2">
                                        @*@foreach (var i in positions)
                                            {
                                                <option value="@i.ID">@i.PositionName</option>
                                            }*@
                                        @Html.Raw(positionString.ToString())
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12" id="salaryHour">
                                    <label class="required" for="txt-salary">Lương cơ bản:</label>
                                    <input id="txt-salary" name="txt-salary" type="text" oninput="moneyfm(this)" value="0" required class="form-control" placeholder="..." />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-add-setting-salary">Lưu lại</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section myScripts{
    <script>
        function pagesearch() {
            $('#form-search').submit();
        }

        function Create() {
            $('#txt-salary').val('');
            document.getElementById("div-position").hidden = false;           
        }

        $(document).on("click", ".edit-salary", function () {
            $('input[name=hdfID]').val($(this).attr('data-id'));
            $('#txt-uid').val($(this).attr('data-uid'));
            $('#txt-uid').prop('disabled', true);
            $("#txt-uid").select2({
                dropdownParent: $("#div-add-salary")
            });
            $('#txt-salary').val($(this).attr('data-salary'));
            document.getElementById("div-position").hidden = true;
            $('#div-add-salary').modal();
        });


        $(document).ready(function () {
            $('.delete-salary').on('click', function () {
                let id = $(this).attr('data-id');
                let postionname = $(this).attr('data-name');
                let $this = $(this);
                if (confirm("Bạn có chắc chắn muốn xóa lương của cấp bậc " + postionname + "?")) {
                    $.ajax({
                        method: 'POST',
                        url: '/SalaryStaff/DeleteSalaryStaff?id=' + id,
                        success: function (msg) {
                            if (msg.rs) {
                                $this.closest('tr').remove();
                                toast.create({
                                    title: 'Thông báo!',
                                    text: 'Thành công',
                                    icon: 'notifications_active',
                                    classBackground: 'noti-success',
                                    timeout: 3000
                                })
                            }
                            else {
                                toast.create({
                                    title: 'Thông báo!',
                                    text: 'Thất bại',
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                })
                            }
                        }
                    })

                }
                else {
                    return false;
                }
            });
        })
    </script>
}

