@using AppZim.TableSql
@using AppZim.Models
@using System.Drawing;
@using MB.Extensions;
@model List<tbl_Class>
@{
    ViewBag.Title = "ClassList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    var aclog = AccountTable.getbyID(Session["UID"].ToString().ToInt(0));
    var grades = GradeTable.getall();
    var lLanguage = Language.GetAll();
    string[] strText = new string[4] { "Trang đầu", "Trang cuối", "Trang sau", "Trang trước" };
}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-30">
        <li class="breadcrumb-item active" aria-current="page">Danh sách chương trình</li>
    </ol>
</nav>
<!-- End breadcrumb -->
<div class="d-xl-flex align-items-center justify-content-between ">
    <div>
        @{
            if (aclog.RoleID == 1 || aclog.RoleID == 2 || aclog.RoleID == 3 || aclog.RoleID == 7)
            {
                <a href="#div-add-room" class="btn btn-primary" data-toggle="modal"><i data-feather="plus"></i> Thêm</a>
            }
        }
    </div>
    <div class="d-xl-block">
        @using (Html.BeginForm("ClassList", "Class", FormMethod.Get, new { id = "form-search" }))
        {
            <div class="d-flex justify-content-xl-center mg-t-20 mg-xl-t-0 flex-wrap">
                <div class="search-form mg-l-5 mg-r-5">
                    <input type="search" name="search" class="form-control" placeholder="Tìm kiếm..." value="@ViewBag.Search">
                    <button class="btn btn-search" type="submit"><i data-feather="search"></i></button>
                </div>
                <div class="form-group">
                    <select class="custom-select select2" name="slLanguage" onchange="Search()">
                        @{
                            foreach (var i in lLanguage)
                            {
                                <option value="@i.ID">@i.Name</option>
                            }
                        }
                    </select>
                    <script>$('select[name=slLanguage]').val(@ViewBag.Language)</script>
                </div>
            </div>
        }
    </div>
</div>
<div class="mg-t-30">
    <div class="table-responsive">
        <table class="table table-striped table-vcenter">
            <thead class="thead-light">
                <tr>
                    <th>Chuyên môn</th>
                    <th>Chương trình</th>
                    <th>Giá tối thiểu</th>
                    <th>Giá tối đa</th>
                    <th>Tạm ẩn</th>
                    <th class="text-center">@ViewBag.Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    //string colorTemp = "";
                    //tbl_Class prev = new tbl_Class() { ID = 0, ClassName = "" };
                    //string[] colorArray = new string[] { "#F3D1DC", "F6A7C1", "#FCF0CF", "#FDCF76", "#B16E4B", "#89AEB2", "#F1CDB0", "#ECAD8F", "#C1CD97", "#38908F", "#FFF", "#0487D9", "#f1354f", "#FFBFA3", "#BC85A3", "#9799BA", "#BC85A3", "#ADDDCE" , "#F0A35E" , "#CA7E8D" , "#E17E76" , "#9C8CDB" };
                    foreach (var item in Model)
                    {
                        //string color = colorTemp;
                        //if (item.ClassName.Trim() != prev.ClassName.Trim())
                        //{
                        //    Random random = new Random();
                        //    int index = random.Next(0, colorArray.Length);
                        //    color = colorArray[index];
                        //    colorArray = colorArray.Where(x => x != color).ToArray();
                        //}
                                <tr @*style="background-color:@color;"*@>
                                    <td>@item.GradeName</td>
                                    <td>@item.ClassName</td>
                                    <td>@String.Format("{0:0,0}", item.PriceClass)</td>
                                    <td>@String.Format("{0:0,0}", item.PriceClassInitial)</td>
                                    <td>
                                        @{
                                            if (item.isHide.Value)
                                            {
                                                <i data-feather="check-circle"></i>
                                            }
                                        }
                                    </td>
                                    @*@{
            if (aclog.RoleID == 1)
            {
                <td>@String.Format("{0:0,0}", item.PriceClass)</td>
            }
        }
        <td>@item.CoefficientName</td>*@
                                    <td class="text-center">
                                        <a href="#view-history" data-toggle="modal" data-id="@item.ID" class="btn btn-info view-history" style="background-color: #00b8d4; border-color: #00b8d4;">
                                            <i data-feather="activity"></i> Lịch sử
                                        </a>
                                        @if (aclog.RoleID == 1 || aclog.RoleID == 2 || aclog.RoleID == 3 || aclog.RoleID == 7)
                                        {
                                            <a href="#edit-roomcenter" data-toggle="modal" data-id="@item.ID" data-coefficient="@item.Coefficient" data-language="@item.Language" data-ishide="@item.isHide" data-class="@item.ClassName" data-gradeid="@item.GradeID" data-min="@String.Format("{0:0,0}", item.PriceClass)" data-max="@String.Format("{0:0,0}", item.PriceClassInitial)" data-typeclass="@item.TypeClass" class="btn btn-primary edit-district">
                                                <i data-feather="rotate-ccw"></i> Cập nhật
                                            </a>
                                        }
                                        @*<a href="/Admin/ClassDetail/DetailClass/@item.ID" class="btn btn-warning"><i data-feather="arrow-right-circle"></i> Chi tiết</a>*@
                                    </td>
                                </tr>
                                    //prev = item;
                                    //colorTemp = color;
                                }
                }
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Page navigation" class="mg-t-10">
    <div class="pagination-container">
        @PhanTrang.PhanTrangCustom(10, ViewBag.Page, ViewBag.PageCount, Request.RawUrl, strText)
    </div>
</nav>
<div class="modal fade" id="div-add-room" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddClass", "Class", FormMethod.Post, new { id = "form-add" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body pd-20 pd-sm-40">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div>
                        <h4>Tạo mới</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Chuyên môn:</label>
                                    <select name="ddl-grade" required class="form-control select2">
                                        <option value="">---</option>
                                        @{
                                            foreach (var item in grades)
                                            {
                                                <option value="@item.ID">@item.GradeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Ngôn ngữ:</label>
                                    <select name="dll-language" required class="form-control select2">
                                        <option value="">---</option>
                                        @{
                                            foreach (var item in lLanguage)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Hệ số thanh toán:</label>
                                    <select class="form-control select2" name="slCoefficient">
                                        <option value="4">Khác</option>
                                        <option value="1">Tháng</option>
                                        <option value="2">50%</option>
                                        <option value="3">Hoàn tất học phí</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-class-name">Tên chương trình:</label>
                                    <input id="txt-class-name" name="txt-class-name" type="text" required class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-min">Giá tối thiểu:</label>
                                    <input id="txt-min" name="txt-min" type="text" oninput="moneyfm(this)" required class="form-control" placeholder="00" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-max">Giá tối đa:</label>
                                    <input id="txt-max" name="txt-max" type="text" oninput="moneyfm(this)" required class="form-control" placeholder="00" value="0" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Hình thức:</label>
                                    <select name="ddl-type" required class="form-control select2">-->
                                        @*<option value="1">Offline</option>*@
                                        <!--<option value="2">Zoom</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <button type="button" id="btn-save" class="btn btn-primary btn-block">Lưu lại</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="edit-roomcenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("EditClass", "Class", FormMethod.Post, new { id="form-edit" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="hdfID" />
                <div class="modal-body pd-20 pd-sm-40">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div>
                        <h4>Cập nhật</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Chuyên môn:</label>
                                    <select name="ddl-edit-grade" required class="form-control select2">
                                        <option value="">---</option>
                                        @{
                                            foreach (var item in grades)
                                            {
                                                <option value="@item.ID">@item.GradeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Ngôn ngữ:</label>
                                    <select name="dll-language-edit" required class="form-control select2">
                                        <option value="">---</option>
                                        @{
                                            foreach (var item in lLanguage)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label>Hệ số thanh toán:</label>
                    <select class="form-control select2" name="slCoefficient-edit">
                        <option value="4">Khác</option>
                        <option value="1">Tháng</option>
                        <option value="2">50%</option>
                        <option value="3">Hoàn tất học phí</option>
                    </select>
                </div>
            </div>
        </div>*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-edit-class-name">Tên chương trình:</label>
                                    <input id="txt-edit-class-name" name="txt-edit-class-name" type="text" required class="validate form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-min-edit">Giá tối thiểu:</label>
                                    <input id="txt-min-edit" name="txt-min-edit" type="text" oninput="moneyfm(this)" required class="form-control" placeholder="00" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txt-max-edit">Giá tối đa:</label>
                                    <input id="txt-max-edit" name="txt-max-edit" type="text" oninput="moneyfm(this)" required class="form-control" placeholder="00" value="0" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label>Hình thức:</label>
                <select name="ddl-edit-type" required class="form-control select2">-->
                        @*<option value="1">Offline</option>*@
                        <!--<option value="2">Zoom</option>
                </select>
            </div>
        </div>
    </div>-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chk-cb" name="chk-cb">
                                        <label class="custom-control-label" for="chk-cb">Tạm ẩn</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="btn-edit" class="btn btn-primary btn-block">Lưu lại</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="view-history" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div>
                    <h4>History change</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="timeline-group tx-13" id="div-his">

                                </div><!-- timeline-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts
{
    <script>
        $(document).ready(function () {
            $('.table').on('click', '.collapse-toggle', function () {
                $(this).children().toggleClass('fa-plus-square').toggleClass('fa-minus-square');
                $(this).toggleClass('active').closest('tr.tr-row').next().find('.collapse-content')
                    .slideToggle(
                        200);
            })
        });
        $(document).on("click", ".edit-district", function () {
            $('input[name=hdfID]').val($(this).attr('data-id'));
            $('input[name=txt-edit-class-name]').val($(this).attr('data-class'));
            $('input[name=txt-min-edit]').val($(this).attr('data-min'));
            $('input[name=txt-max-edit]').val($(this).attr('data-max'));
            $('select[name=ddl-edit-grade]').val($(this).attr('data-gradeid'));
            $('select[name=ddl-edit-grade]').trigger("change");
            $('select[name=ddl-edit-type]').val($(this).attr('data-typeclass'));
            $('select[name=ddl-edit-type]').trigger("change");
            $('select[name=dll-language-edit]').val($(this).attr('data-language'));
            $('select[name=dll-language-edit]').trigger("change");
            $('select[name=slCoefficient-edit]').val($(this).attr('data-coefficient'));
            $('select[name=slCoefficient-edit]').trigger("change");
            //$('select').formSelect();
            if ($(this).attr('data-ishide') == 'True') {
                $('#chk-cb').prop("checked", true);
            }
            else {
                $('#chk-cb').prop("checked", false);
            }
        });

        $('.view-history').click(function () {
            var classid = $(this).attr('data-id');
            $('#div-his').empty();
            $.ajax({
                type: "POST",
                url: "/Admin/Class/LoadHistoryChangePrice",
                data: '{classid: ' + classid + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#div-his').append(msg.d);
                },
                error: function (xmlhttprequest, textstatus, errorthrow) {
                    console.log("e: view-history");
                }
            });
        });
        function Search() {
            $('.btn-search').trigger('click');
        }
        $('#btn-save').click(function () {
            var priceMin = parseInt($('#txt-min').val().replace('/,/g', ''));
            var priceMax = parseInt($('#txt-max').val().replace('/,/g', ''));
            if (priceMax < priceMin) {
                toast.create({
                    title: 'Thông báo!',
                    text: 'Giá tối đa không được thấp hơn giá tối thiểu',
                    icon: 'notifications_active',
                    classBackground: 'noti-warning',
                    timeout: 2500
                });
                $('#txt-max').focus();
                return;
            }
            $('#form-add').submit();
        });

        $('#btn-edit').click(function () {
            var priceMin = parseInt($('#txt-min-edit').val().replace('/,/g', ''));
            var priceMax = parseInt($('#txt-max-edit').val().replace('/,/g', ''));
            if (priceMax < priceMin) {
                toast.create({
                    title: 'Thông báo!',
                    text: 'Giá tối đa không được thấp hơn giá tối thiểu',
                    icon: 'notifications_active',
                    classBackground: 'noti-warning',
                    timeout: 2500
                });
                $('#txt-max-edit').focus();
                return;
            }
            $('#form-edit').submit();
        });
    </script>
}