@using AppZim.TableSql
@using MB.Extensions
@using AppZim.Models
@{
    ViewBag.Title = "FeedBackListDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    var aclog = AccountTable.getbyID(Session["UID"].ToString().ToInt(0));

    List<tbl_FeedBackDetail> datas = FeedBackDetailTable.getbyfeedbackid(Model.ID);
    tbl_FeedBack fb = FeedBackTable.getbyid(Model.ID);
    tbl_FeedBackDetail f = new tbl_FeedBackDetail();
    f.ContentFeedback = fb.ContentFeedBack;
    f.CreatedBy = fb.CreatedBy;
    f.CreatedDate = fb.CreatedDate;
    datas.Add(f);
    datas = datas.OrderByDescending(n => n.CreatedDate).ToList();
    tbl_Account student = AccountTable.getbyID(fb.UID.Value);
    List<Admin_Student_GetCurrentCourse_Result> courses = new List<Admin_Student_GetCurrentCourse_Result>();
    if (student.RoleID == 5)
    {
        using (var db = new ZimEntities())
        {
            courses = db.Admin_Student_GetCurrentCourse(student.ID).ToList();

        }
    }
}
@section myStyles{
    <style>
        img {
            width: unset;
        }
    </style>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-30">
        <li class="breadcrumb-item"><a href="@Url.Action("FeedBackList", "FeedBack", new { area = "Admin" })">Danh sách phản hồi</a></li>
    </ol>
</nav>
<div class="warning-content">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="mg-b-0"><i data-feather="alert-triangle" class="mg-r-10"></i>Thông tin người gửi</h6>
                </div>
                <div class="card-body">
                    <div class="information-block">
                        <div class="student-info">
                            <div class="student-course">
                                <p class="txt">
                                    <span class="lb"><i data-feather="user"></i></span> <span class="value">@student.FullName</span>
                                </p>
                                <p class="txt">
                                    <span class="lb"><i data-feather="phone"></i></span> <span class="value">@student.Phone</span>
                                </p>
                                <p class="txt">
                                    <span class="lb"><i data-feather="mail"></i></span> <span class="value">@student.Email</span>
                                </p>
                                <p class="txt">
                                    <span class="lb"><i data-feather="home"></i></span> <span class="value">@student.Address</span>
                                </p>
                            </div>
                            @{
                                foreach (var item in courses)
                                {
                                    <div class="w-100 mg-t-10" style="border-top: 1px solid #e1e1e1; padding-top: 10px;">
                                        <div class="student-course">
                                            <p class="txt">
                                                <span class="lb no-wrap">Trung tâm:</span> <span class="value">@item.SchoolName</span>
                                            </p>
                                            <p class="txt">
                                                <span class="lb">Khóa:</span> <span class="value">@item.CourseName</span>
                                            </p>
                                            <p class="txt">
                                                <span class="lb">Học vụ:</span> <span class="value">@item.AcademicName</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="w-100 mg-t-10" style="border-top: 1px solid #e1e1e1; padding-top: 10px;">
                                <div class="student-course">
                                    <div class="rating">
                                        @{
                                            if (fb.Rate != null)
                                            {
                                                if (fb.Rate == 5)
                                                {
                                                    <input type="radio" name="rating" id="rating-5" checked disabled data-rate="5">
                                                    <label for="rating-5"></label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" id="rating-5" disabled data-rate="5">
                                                    <label for="rating-5"></label>
                                                }
                                                if (fb.Rate == 4)
                                                {
                                                    <input type="radio" name="rating" id="rating-4" checked disabled data-rate="4">
                                                    <label for="rating-4"></label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" id="rating-4" disabled data-rate="4">
                                                    <label for="rating-4"></label>
                                                }
                                                if (fb.Rate == 3)
                                                {
                                                    <input type="radio" name="rating" id="rating-3" checked disabled data-rate="3">
                                                    <label for="rating-3"></label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" id="rating-3" disabled data-rate="3">
                                                    <label for="rating-3"></label>
                                                }
                                                if (fb.Rate == 2)
                                                {
                                                    <input type="radio" name="rating" id="rating-2" checked disabled data-rate="2">
                                                    <label for="rating-2"></label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" id="rating-2" disabled data-rate="2">
                                                    <label for="rating-2"></label>
                                                }
                                                if (fb.Rate == 1)
                                                {
                                                    <input type="radio" name="rating" id="rating-1" checked disabled data-rate="1">
                                                    <label for="rating-1"></label>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="rating" id="rating-1" disabled data-rate="1">
                                                    <label for="rating-1"></label>
                                                }
                                            }
                                            else
                                            {
                                                <input type="radio" name="rating" id="rating-5" disabled data-rate="5">
                                                <label for="rating-5"></label>
                                                <input type="radio" name="rating" id="rating-4" disabled data-rate="4">
                                                <label for="rating-4"></label>
                                                <input type="radio" name="rating" id="rating-3" disabled data-rate="3">
                                                <label for="rating-3"></label>
                                                <input type="radio" name="rating" id="rating-2" disabled data-rate="2">
                                                <label for="rating-2"></label>
                                                <input type="radio" name="rating" id="rating-1" disabled data-rate="1">
                                                <label for="rating-1"></label>
                                            }
                                        }
                                        <div class="emoji-wrapper">
                                            <div class="emoji">
                                                <svg class="rating-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <circle cx="256" cy="256" r="256" fill="#ffd93b"></circle>
                                                    <path d="M512 256c0 141.44-114.64 256-256 256-80.48 0-152.32-37.12-199.28-95.28 43.92 35.52 99.84 56.72 160.72 56.72 141.36 0 256-114.56 256-256 0-60.88-21.2-116.8-56.72-160.72C474.8 103.68 512 175.52 512 256z" fill="#f4c534"></path>
                                                    <ellipse transform="scale(-1) rotate(31.21 715.433 -595.455)" cx="166.318" cy="199.829" rx="56.146" ry="56.13" fill="#fff"></ellipse>
                                                    <ellipse transform="rotate(-148.804 180.87 175.82)" cx="180.871" cy="175.822" rx="28.048" ry="28.08" fill="#3e4347"></ellipse>
                                                    <ellipse transform="rotate(-113.778 194.434 165.995)" cx="194.433" cy="165.993" rx="8.016" ry="5.296" fill="#5a5f63"></ellipse>
                                                    <ellipse transform="scale(-1) rotate(31.21 715.397 -1237.664)" cx="345.695" cy="199.819" rx="56.146" ry="56.13" fill="#fff"></ellipse>
                                                    <ellipse transform="rotate(-148.804 360.25 175.837)" cx="360.252" cy="175.84" rx="28.048" ry="28.08" fill="#3e4347"></ellipse>
                                                    <ellipse transform="scale(-1) rotate(66.227 254.508 -573.138)" cx="373.794" cy="165.987" rx="8.016" ry="5.296" fill="#5a5f63"></ellipse>
                                                    <path d="M370.56 344.4c0 7.696-6.224 13.92-13.92 13.92H155.36c-7.616 0-13.92-6.224-13.92-13.92s6.304-13.92 13.92-13.92h201.296c7.696.016 13.904 6.224 13.904 13.92z" fill="#3e4347"></path>
                                                </svg>
                                                <svg class="rating-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <circle cx="256" cy="256" r="256" fill="#ffd93b"></circle>
                                                    <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"></path>
                                                    <path d="M328.4 428a92.8 92.8 0 0 0-145-.1 6.8 6.8 0 0 1-12-5.8 86.6 86.6 0 0 1 84.5-69 86.6 86.6 0 0 1 84.7 69.8c1.3 6.9-7.7 10.6-12.2 5.1z" fill="#3e4347"></path>
                                                    <path d="M269.2 222.3c5.3 62.8 52 113.9 104.8 113.9 52.3 0 90.8-51.1 85.6-113.9-2-25-10.8-47.9-23.7-66.7-4.1-6.1-12.2-8-18.5-4.2a111.8 111.8 0 0 1-60.1 16.2c-22.8 0-42.1-5.6-57.8-14.8-6.8-4-15.4-1.5-18.9 5.4-9 18.2-13.2 40.3-11.4 64.1z" fill="#f4c534"></path>
                                                    <path d="M357 189.5c25.8 0 47-7.1 63.7-18.7 10 14.6 17 32.1 18.7 51.6 4 49.6-26.1 89.7-67.5 89.7-41.6 0-78.4-40.1-82.5-89.7A95 95 0 0 1 298 174c16 9.7 35.6 15.5 59 15.5z" fill="#fff"></path>
                                                    <path d="M396.2 246.1a38.5 38.5 0 0 1-38.7 38.6 38.5 38.5 0 0 1-38.6-38.6 38.6 38.6 0 1 1 77.3 0z" fill="#3e4347"></path>
                                                    <path d="M380.4 241.1c-3.2 3.2-9.9 1.7-14.9-3.2-4.8-4.8-6.2-11.5-3-14.7 3.3-3.4 10-2 14.9 2.9 4.9 5 6.4 11.7 3 15z" fill="#fff"></path>
                                                    <path d="M242.8 222.3c-5.3 62.8-52 113.9-104.8 113.9-52.3 0-90.8-51.1-85.6-113.9 2-25 10.8-47.9 23.7-66.7 4.1-6.1 12.2-8 18.5-4.2 16.2 10.1 36.2 16.2 60.1 16.2 22.8 0 42.1-5.6 57.8-14.8 6.8-4 15.4-1.5 18.9 5.4 9 18.2 13.2 40.3 11.4 64.1z" fill="#f4c534"></path>
                                                    <path d="M155 189.5c-25.8 0-47-7.1-63.7-18.7-10 14.6-17 32.1-18.7 51.6-4 49.6 26.1 89.7 67.5 89.7 41.6 0 78.4-40.1 82.5-89.7A95 95 0 0 0 214 174c-16 9.7-35.6 15.5-59 15.5z" fill="#fff"></path>
                                                    <path d="M115.8 246.1a38.5 38.5 0 0 0 38.7 38.6 38.5 38.5 0 0 0 38.6-38.6 38.6 38.6 0 1 0-77.3 0z" fill="#3e4347"></path>
                                                    <path d="M131.6 241.1c3.2 3.2 9.9 1.7 14.9-3.2 4.8-4.8 6.2-11.5 3-14.7-3.3-3.4-10-2-14.9 2.9-4.9 5-6.4 11.7-3 15z" fill="#fff"></path>
                                                </svg>
                                                <svg class="rating-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <circle cx="256" cy="256" r="256" fill="#ffd93b"></circle>
                                                    <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"></path>
                                                    <path d="M336.6 403.2c-6.5 8-16 10-25.5 5.2a117.6 117.6 0 0 0-110.2 0c-9.4 4.9-19 3.3-25.6-4.6-6.5-7.7-4.7-21.1 8.4-28 45.1-24 99.5-24 144.6 0 13 7 14.8 19.7 8.3 27.4z" fill="#3e4347"></path>
                                                    <path d="M276.6 244.3a79.3 79.3 0 1 1 158.8 0 79.5 79.5 0 1 1-158.8 0z" fill="#fff"></path>
                                                    <circle cx="340" cy="260.4" r="36.2" fill="#3e4347"></circle>
                                                    <g fill="#fff">
                                                        <ellipse transform="rotate(-135 326.4 246.6)" cx="326.4" cy="246.6" rx="6.5" ry="10"></ellipse>
                                                        <path d="M231.9 244.3a79.3 79.3 0 1 0-158.8 0 79.5 79.5 0 1 0 158.8 0z"></path>
                                                    </g>
                                                    <circle cx="168.5" cy="260.4" r="36.2" fill="#3e4347"></circle>
                                                    <ellipse transform="rotate(-135 182.1 246.7)" cx="182.1" cy="246.7" rx="10" ry="6.5" fill="#fff"></ellipse>
                                                </svg>
                                                <svg class="rating-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <circle cx="256" cy="256" r="256" fill="#ffd93b"></circle>
                                                    <path d="M407.7 352.8a163.9 163.9 0 0 1-303.5 0c-2.3-5.5 1.5-12 7.5-13.2a780.8 780.8 0 0 1 288.4 0c6 1.2 9.9 7.7 7.6 13.2z" fill="#3e4347"></path>
                                                    <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"></path>
                                                    <g fill="#fff">
                                                        <path d="M115.3 339c18.2 29.6 75.1 32.8 143.1 32.8 67.1 0 124.2-3.2 143.2-31.6l-1.5-.6a780.6 780.6 0 0 0-284.8-.6z"></path>
                                                        <ellipse cx="356.4" cy="205.3" rx="81.1" ry="81"></ellipse>
                                                    </g>
                                                    <ellipse cx="356.4" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347"></ellipse>
                                                    <g fill="#fff">
                                                        <ellipse transform="scale(-1) rotate(45 454 -906)" cx="375.3" cy="188.1" rx="12" ry="8.1"></ellipse>
                                                        <ellipse cx="155.6" cy="205.3" rx="81.1" ry="81"></ellipse>
                                                    </g>
                                                    <ellipse cx="155.6" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347"></ellipse>
                                                    <ellipse transform="scale(-1) rotate(45 454 -421.3)" cx="174.5" cy="188" rx="12" ry="8.1" fill="#fff"></ellipse>
                                                </svg>
                                                <svg class="rating-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <circle cx="256" cy="256" r="256" fill="#ffd93b"></circle>
                                                    <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"></path>
                                                    <path d="M232.3 201.3c0 49.2-74.3 94.2-74.3 94.2s-74.4-45-74.4-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b"></path>
                                                    <path d="M96.1 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2C80.2 229.8 95.6 175.2 96 173.3z" fill="#d03f3f"></path>
                                                    <path d="M215.2 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff"></path>
                                                    <path d="M428.4 201.3c0 49.2-74.4 94.2-74.4 94.2s-74.3-45-74.3-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b"></path>
                                                    <path d="M292.2 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2-77.8-65.7-62.4-120.3-61.9-122.2z" fill="#d03f3f"></path>
                                                    <path d="M411.3 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff"></path>
                                                    <path d="M381.7 374.1c-30.2 35.9-75.3 64.4-125.7 64.4s-95.4-28.5-125.8-64.2a17.6 17.6 0 0 1 16.5-28.7 627.7 627.7 0 0 0 218.7-.1c16.2-2.7 27 16.1 16.3 28.6z" fill="#3e4347"></path>
                                                    <path d="M256 438.5c25.7 0 50-7.5 71.7-19.5-9-33.7-40.7-43.3-62.6-31.7-29.7 15.8-62.8-4.7-75.6 34.3 20.3 10.4 42.8 17 66.5 17z" fill="#e24b4b"></path>
                                                </svg>
                                                <svg class="rating-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <g fill="#ffd93b">
                                                        <circle cx="256" cy="256" r="256"></circle>
                                                        <path d="M512 256A256 256 0 0 1 56.8 416.7a256 256 0 0 0 360-360c58 47 95.2 118.8 95.2 199.3z"></path>
                                                    </g>
                                                    <path d="M512 99.4v165.1c0 11-8.9 19.9-19.7 19.9h-187c-13 0-23.5-10.5-23.5-23.5v-21.3c0-12.9-8.9-24.8-21.6-26.7-16.2-2.5-30 10-30 25.5V261c0 13-10.5 23.5-23.5 23.5h-187A19.7 19.7 0 0 1 0 264.7V99.4c0-10.9 8.8-19.7 19.7-19.7h472.6c10.8 0 19.7 8.7 19.7 19.7z" fill="#e9eff4"></path>
                                                    <path d="M204.6 138v88.2a23 23 0 0 1-23 23H58.2a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#45cbea"></path>
                                                    <path d="M476.9 138v88.2a23 23 0 0 1-23 23H330.3a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#e84d88"></path>
                                                    <g fill="#38c0dc">
                                                        <path d="M95.2 114.9l-60 60v15.2l75.2-75.2zM123.3 114.9L35.1 203v23.2c0 1.8.3 3.7.7 5.4l116.8-116.7h-29.3z"></path>
                                                    </g>
                                                    <g fill="#d23f77">
                                                        <path d="M373.3 114.9l-66 66V196l81.3-81.2zM401.5 114.9l-94.1 94v17.3c0 3.5.8 6.8 2.2 9.8l121.1-121.1h-29.2z"></path>
                                                    </g>
                                                    <path d="M329.5 395.2c0 44.7-33 81-73.4 81-40.7 0-73.5-36.3-73.5-81s32.8-81 73.5-81c40.5 0 73.4 36.3 73.4 81z" fill="#3e4347"></path>
                                                    <path d="M256 476.2a70 70 0 0 0 53.3-25.5 34.6 34.6 0 0 0-58-25 34.4 34.4 0 0 0-47.8 26 69.9 69.9 0 0 0 52.6 24.5z" fill="#e24b4b"></path>
                                                    <path d="M290.3 434.8c-1 3.4-5.8 5.2-11 3.9s-8.4-5.1-7.4-8.7c.8-3.3 5.7-5 10.7-3.8 5.1 1.4 8.5 5.3 7.7 8.6z" fill="#fff" opacity=".2"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    @{
                                        if (aclog.RoleID == 1 || aclog.RoleID == 2 || aclog.RoleID == 7 || aclog.RoleID == 8)
                                        {
                                            tbl_FeedBackCheckSolution ck = FeedBackCheckSolutionTable.getbyFeedBackID(fb.ID);
                                            if (ck != null)
                                            {
                                                if (ck.StatusAcceptReject == 1)
                                                {
                                                    <div class="w-100 mg-t-10 d-flex justify-content-between">
                                                        <a href="javascript:;" class="btn btn-success mg-r-10 check-done" data-id="2"><i data-feather="check-circle"></i> Đồng ý</a>
                                                        <a href="javascript:;" class="btn btn-danger check-done" data-id="3"><i data-feather="x-circle"></i> Từ chối</a>
                                                    </div>
                                                }
                                                if (ck.StatusAcceptReject == 2)
                                                {
                                                    <i data-feather="check-circle" style="color:#10b759;"></i>
                                                }
                                                if (ck.StatusAcceptReject == 3)
                                                {
                                                    <i data-feather="x-circle" style="color:#bd2130;"></i>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="mail-content-header pos-static">
                        <a href="" id="mailContentClose" class="link-02  d-lg-block d-xl-none mg-r-20">
                            <i data-feather="arrow-left"></i>
                        </a>
                        <div class="media">
                            <h6 class="mg-b-0"><i data-feather="message-square" class="mg-r-10"></i>Phản hồi lại</h6>
                        </div><!-- media -->
                    </div><!-- mail-content-header -->
                </div>
                <div class="card-body">
                    <div class="mail-content-body pos-static">
                        @using (Html.BeginForm("RepFeedback", "FeedBack", FormMethod.Post, new { id = "form-rep" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="hdffeedbackid" value="@Model.ID" required />
                            <input type="hidden" name="hdfcontent" required />
                            <div class="pd-y-20 pd-t-0-f">
                                <div id="content-editor" class="content-editor">
                                </div>
                                <div class="d-flex align-items-center justify-content-between mg-t-20">
                                    <button id="btn-get-data" class="btn btn-primary">Gửi</button>
                                </div>
                            </div>

                            foreach (var item in datas)
                            {
                                var accre = AccountTable.getbyusername(item.CreatedBy);
                                if (accre == null)
                                {
                                    continue;
                                }

                                <div class="report-reply">
                                    <div class="pd-y-20 reply-block">
                                        <div class="media reply-header">
                                            <div class="avatar avatar-sm">
                                                @if (string.IsNullOrEmpty(accre.Avatar))
                                                {
                                                    <img src="/app-assets/zimv2/images/invis-user.png" class="rounded-circle" alt="">
                                                }
                                                else
                                                {
                                                    <img src="@accre.Avatar" class="rounded-circle" alt="" onerror="this.onerror = null; this.src = '/app-assets/zimv2/images/avauser.jpg';">
                                                }
                                            </div>
                                            <div class="media-body mg-l-10">
                                                <h6 class="mg-b-2 tx-13">@accre.FullName</h6>
                                                <span class="d-block tx-11 tx-color-03">@item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                            </div><!-- media-body -->
                                        </div><!-- media -->
                                        <div class="reply-content pd-t-15">
                                            <p></p>
                                            @Html.Raw(item.ContentFeedback)
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div><!-- mail-content-body -->
                </div>
            </div>
        </div>
    </div>
</div><!-- mail-content -->

@section myScripts{
    <script src="~/app-assets/tinymce/tinymce.min.js"></script>
    <script src="~/app-assets/zimv2/lib/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            function uploadImage() {
                var editor = tinymce.activeEditor;
                // create input element, call modal dialog w
                var fileInput = document.createElement('input');
                fileInput.setAttribute('type', 'file');
                fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon');
                // if file is submitted run our key code
                fileInput.addEventListener('change', () => {

                    if (fileInput.files != null && fileInput.files[0] != null) {
                        // create instance of FileReader()
                        var formData = new FormData();
                        formData.append("FileUpload", fileInput.files[0]);
                        $.ajax({
                            async: false,
                            type: 'POST',
                            url: '/Admin/ClassDetail/UploadFileExercise',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (msg) {
                                console.log(msg.l);
                                editor.insertContent('<img src="' + msg.l + '"/>');
                            },
                            error: function (error) {
                                console.log('error upload file audio');
                            }
                        });
                    }
                });
                fileInput.click()
            }
            tinymce.init({
                selector: '.content-editor',
                plugin: "autosave",
                menubar: false,
                oninit: "setPlainText",
                plugins: "paste",
                paste_as_text: true,
                inline: false,
                menubar: 'file edit insert view format table tools help',
                toolbar: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | table UploadImage link media | removeformat',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
                ],
                height: 250,
                images_dataimg_filter: function (img) {
                    return img.hasAttribute('internal-blob');
                },
                setup: (editor) => {
                    editor.ui.registry.addButton('UploadImage', {
                        text: 'Image',
                        icon: 'image',
                        onAction: uploadImage
                    });
                }
            });

            $('#btn-get-data').click(function () {
                var content = tinymce.get('content-editor').contentDocument.activeElement.innerHTML;
                var counttext = tinymce.get('content-editor').contentDocument.activeElement.innerText;
                $('input[name=hdfcontent]').val(content);
                if (counttext.length == 1) {
                    toast.create({
                        title: 'Notification!',
                        text: 'Commnet is not null',
                        icon: 'error_outline',
                        classBackground: 'noti-error',
                        timeout: 2500
                    })
                    return;
                }
                else {
                    $('#form-rep').submit();
                    $(this).attr('disabled', true);
                }
            })
        })
        $('.check-done').click(function () {
            if (confirm('Are you sure?')) {
                var status = $(this).attr('data-id');
                var e = $(this);
                $.ajax({
                    type: "POST",
                    url: "/Admin/Feedback/CheckSolution",
                    data: '{id: ' + @fb.ID + ', status:' + status + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            if (msg.rs) {
                                var dv = $(e).closest('div');
                                dv.remove();
                            }
                            else {
                                toast.create({
                                    title: 'Thông báo!',
                                    text: 'Không thành công',
                                    icon: 'notifications_active',
                                    classBackground: 'noti-warning',
                                    timeout: 3000
                                })
                            }
                        },
                    error: function (xmlhttprequest, textstatus, errorthrow) {
                        console.log("error save draft");
                    }
                });
            }
        })
    </script>
}