
@{
    ViewBag.Title = "ExrciseDetailEssay";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
}
@using (Html.BeginForm("AnswerExrcise", "StudentExrcise", FormMethod.Post, new { id = "form-anwer", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <style>
        .left-sticky {
            top: 0px;
        }
    </style>
    <input type="hidden" name="hdfcourseid" value="@ViewBag.Course.ID" required />
    <input type="hidden" name="hdfexeid" value="@ViewBag.Exercise.ID" required />
    <input type="hidden" name="hdfanswer" required />
    <!-- Breadcrumb -->
    <div class="row mg-b-30">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("CourseDetail", "StudentCourse", new { area = "", ViewBag.Course.ID })">@ViewBag.Course.CourseName</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("CourseExrcise", "StudentCourse", new { area = "", ViewBag.Course.ID })">Bài tập</a></li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- End breadcrumb -->
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="left-sticky">
                <div class="card">
                    <div class="card-header">
                        <h6 class="mg-b-0">Thông tin</h6>
                    </div>
                    <div class="card-body">
                        <div class="information-block">
                            <div class="student-info">
                                <div class="student-course">
                                    <p class="txt"><span class="lb">Trung tâm:</span> <span class="value">@ViewBag.Course.SchoolName</span></p>
                                    <p class="txt"><span class="lb">Khóa học:</span> <span class="value"><a href="@Url.Action("CourseDetail", "StudentCourse", new { area = "", id = ViewBag.Course.ID })" style="color:black">@ViewBag.Course.ClassName</a></span></p>
                                    <p class="txt"><span class="lb">Ngày mở:</span> <span class="value">@ViewBag.Course.OpeningDate.ToString("dd/MM/yyyy")</span></p>
                                    <p class="txt"><span class="lb">Học viên:</span> <span class="value">@ViewBag.FullName</span></p>
                                </div>
                                <div class="w-100 mg-t-10">
                                    <a href="javascript:;" id="btn-get-data" class="btn btn-primary mg-md-r-10">Nộp bài</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="question-wrap">
                <div class="card">
                    <div class="card-header">
                        <h6 class="mg-b-0">Nội dung câu hỏi</h6>
                    </div>
                    <div class="card-body" style=" padding: 30px;">
                        <div class="raw-txt">
                            @Html.Raw(ViewBag.Exercise.ExerciseTitle)
                        </div>
                        <p class="txt"><span class="lb" style="font-weight: 500;">Hạn nộp:</span> <span class="value">@ViewBag.Deadline</span></p>
                    </div>
                </div>
                <div class="card mg-t-10">
                    <div class="card-header">
                        <h6 class="mg-b-5">Trả lời</h6>
                    </div>
                    <div class="card-body">
                        <div class="raw-txt" id="froala-editor">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section myScripts{
        <script src="~/app-assets/tinymce/tinymce.min.js"></script>
        <script>
            $(document).ready(function () {
                var commentEditor = {
                    selector: '#froala-editor',
                    menubar: false,
                    inline: false,
                    plugins: [
                        'lists',
                        'autolink',
                        'paste'
                    ],
                    paste_as_text: true,
                    toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
                    content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
                    ],
                };

                //Init editor
                tinymce.init(commentEditor);
                $('.dropify').dropify();
                $('#btn-get-data').click(function () {
                    if (confirm('Nộp bài?')) {
                        // Save it!

                        //var counttext = tinymce.editors[0].getContent({ format: 'text' });
                        //var content = tinymce.editors[0].getContent();

                        var counttext = tinymce.editors[0].contentDocument.activeElement.innerText;
                        var content = tinymce.editors[0].contentDocument.activeElement.innerHTML;

                        console.log(content);
                        console.log(counttext.length);

                        $('input[name=hdfanswer]').val(content);
                        if (counttext.length == 1) {
                            toast.create({
                                title: 'Thông báo!',
                                text: 'Vui lòng nhập câu trả lời',
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 4000
                            })
                        }
                        else {
                            $('#form-anwer').submit();
                        }
                    }
                })
            });
        </script>
    }

}